<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1009790740333-2i0tofj6o6cku30o4bm186nucln24od6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1009790740333-2i0tofj6o6cku30o4bm186nucln24od6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1009790740333-8c4gjb8kge1uu8vforp3qlhbstpv4fsh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCA-as_ztkvZsycRBYuuRWYL4jenhFV-Vs</string>
	<key>GCM_SENDER_ID</key>
	<string>1009790740333</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fitness</string>
	<key>PROJECT_ID</key>
	<string>fitnessjourney-48caa</string>
	<key>STORAGE_BUCKET</key>
	<string>fitnessjourney-48caa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009790740333:ios:4d35cc81b062f544acdc64</string>
	<key>DATABASE_URL</key>
	<string>https://fitnessjourney-48caa-default-rtdb.firebaseio.com</string>
</dict>
</plist>